* {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

.content {
    width: 400px;
    height: 300px;
    padding: 0;
    background-color: aqua;
    margin: 30px 30px -10px;
    
}

p {
    margin-top: 20px;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 0 10px 10px 0 ;

}

.content-1 {
    margin-top: 40px;
}

.content-2 {
    display: flex;
    align-items: center;
}

.h1 {
    margin: 5px 0px 0px 10px;
    background-color: chartreuse;
}

