* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 10px;
    height: 400px;
    
}

img {
    
}