* {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    width: 800px;
    height: 400px;
    border-radius: 10px;
}

.content {
    width: 400px;
    height: 300px;
    padding: 0;
    margin: 30px 30px -10px;
    
}

h1 {
    color: hsl(0, 0%, 100%);
}

p {
    margin-top: 20px;
    color: hsla(0, 0%, 100%, 0.75);
}

img {
    height: 400px;
    width: 400px;
    border-radius: 0 10px 10px 0 ;

}

.content-1 {
    margin-top: 40px;
    display: flex;
    align-items: center;
}



.h1 {
    margin: 0px 0px 0px 10px;
    
}

span {
    color: hsl(277, 64%, 61%);
}

